<!DOCTYPE html>
<html lang="en">
<head>
  <title>Open-Source-Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body style="background-color: #1F3C15;">
    <h1 style="text-align: center; color: white;">Project Status</h1>
    <div class="container-fluid" >
    <br>
    <br>
    <br>
  <div class="row content" style="padding-left: 15rem;">
    
    <div class="col-sm-9">
      <div class="well">
        <h1><%=projectName%></h1>
        <p><%=projectDescription%></p>
        <a href="<%=projectURL%>"><%=projectURL%></a>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Language</h4>
            <p><%= language %></p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Stars</h4>
            <p><%= stars %></p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Forks</h4>
            <p><%= forks %></p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Released Version</h4>
            <p><%= version%></p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4 style="text-align: center;">Open Issues</h4>
            <ul>
                <%openIssues.forEach(function(issue){%>
                    <li><%=issue.title %></li>
                <%});%>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4 style="text-align: center;">Closed Issues</h4>
            <ul>
                <%closedIssues.forEach(function(issue){%>
                    <li><%=issue.title %></li>
                  <%});%>
            </ul>
            
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4 style="text-align: center;">Open Pull Requests</h4>
            <ul>
            <%pullData.forEach(function(pull){%>
                <li><%=pull.title %></li>
              <%});%>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <h4 style="text-align: center;">Contributors</h4>
            <%contributionsData.sort((a,b) => b.total-a.total).forEach(function(contributor){%>
                <p><%=contributor.author.login %> <%= contributor.total %></p>
            <%});%> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4 style="text-align: center;">Commits</h4>
            <ul>
            <%commitsData.forEach(function(commit){%>
                <li><%=commit.commit.message %></li>
            <%});%> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
