<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Open-Source-Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {
        height: 550px;
      }

      /* Set gray background color and 100% height */
      .sidenav {
        background-color: #f1f1f1;
        height: 100%;
      }

      /* On small screens, set height to 'auto' for the grid */
      @media screen and (max-width: 767px) {
        .row.content {
          height: auto;
        }
      }
    </style>
  </head>
  <body style="background-color: #1f3c15">
    <h1 style="text-align: center; color: white">Project Status</h1>
    <div class="container-fluid">
      <br />
      <br />
      <br />
      <div class="row content">
        <div class="col-sm-12">
          <div class="well">
            <h1><strong><%=projectName%></strong></h1>
            <p><%=projectDescription%></p>
            <a href="<%=projectURL%>"><%=projectURL%></a>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="well">
                <h4><strong>Language</strong></h4>
                <p><%= language %></p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4><strong>Stars</strong></h4>
                <p><%= stars %></p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4><strong>Forks</strong></h4>
                <p><%= forks %></p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4><strong>Released Version</strong></h4>
                <p><%= version%></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="well">
                <h4 style="text-align: center">
                  <strong>Open Issues-<%= openIssues.length %></strong>
                </h4>
                <ul>
                  <%openIssues.forEach(function(issue){%>
                  <li><%=issue.title %></li>
                  <%});%>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4 style="text-align: center">
                  <strong>Closed Issues-<%= closedIssues.length %></strong>
                </h4>
                <ul>
                  <%closedIssues.forEach(function(issue){%>
                  <li><%=issue.title %></li>
                  <%});%>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4 style="text-align: center">
                  <strong>Open Pull Requests-<%= pullData.length %></strong>
                </h4>
                <ul>
                  <%pullData.forEach(function(pull){%>
                  <li><%=pull.title %></li>
                  <%});%>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="well">
                <h4 style="text-align: center">
                  <strong>Contributors-<%= contributionsData.length %></strong>
                </h4>
                <%contributionsData.sort((a,b) =>
                b.total-a.total).forEach(function(contributor){%>
                <p><%=contributor.author.login %> <%= contributor.total %></p>
                <%});%>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <h4 style="text-align: center">
                  <strong>Commits-<%= commitsData.length %></strong>
                </h4>
                <ul>
                  <%commitsData.forEach(function(commit){%>
                  <li><%=commit.commit.message %></li>
                  <%});%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
